.wrapper-register {
  width: 100%;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

input {
  border-radius: 20px;
  border: none;
  transition: 300ms;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}

.input-deposit {
  height: 35px;
  width: 120px;
}

.box-deposit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-product {
  width: 180px;
  height: 35px;
  border-radius: 20px;
}

.input-quantity {
  height: 35px;
  border-radius: 20px;
}
.input-price {
  height: 35px;
  border-radius: 20px;
}

.register-button {
  height: 35px;
  width: 180px;
  border-radius: 20px;
  transition: 300ms;
  border: none;
  background-color: #830199;
  color: #ffffff;
  font-size: 16px;
}

.info-text {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
