body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  user-select: none;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #080918;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container {
  height: 812px;
  width: 400px;
  border: 1px solid #830199;
}

.title-register {
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
}
